services:
  db:
    image: postgres:18.0-alpine3.22
    container_name: "postgresql_kanbaly"
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - "5432:5432"
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    env_file:
      - ./config/postgresql.env

  adminer:
    image: adminer:5.4.1
    restart: always
    ports:
      - "4411:8080"

volumes:
  postgresql_data:
    driver: local
